@font-face { 
    font-family: 'Arimo';
    src: url('fonts/Arimo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */   
    font-style:   normal;
    font-weight:  400;
  }

@font-face { 
    font-family: 'Arimo Bold';
    src: url('fonts/Arimo-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */   
    font-style:   normal;
    font-weight:  400;
  }


body{
background-color: black;
padding: 0;
margin: 0;
color: white;
font-size: 24px;
font-family: "Arimo", sans-serif;
}

#tutorial{
width: 100%;
height: 100vh;
position: fixed;
z-index: 2;
background-color: rgba(0,0,0,0.7);
opacity: 1;
transition: opacity 1s;
pointer-events: all;
}

#hideTutorial{
right: 15px;
bottom: 15px;
position: absolute;
}

a.optionButton{
font-size: 24px;
color: #B0B0B0;
background-color: #1A1A1A;
border-radius: 24px;
border-color: #B0B0B0;
border: solid 0.5px;
padding: 3px 12px 3px 12px;
height: 32px;
text-decoration: none;
}

button{
font-size: 24px;
color: #B0B0B0;
background-color: #1A1A1A;
border-radius: 24px;
border: #B0B0B0 solid 1px;
padding: 0px 12px 3px 12px;
height: 32px;
outline: none;
}

button.optionButton{
font-size: 24px;
color: #B0B0B0;
background-color: #1A1A1A;
border-radius: 24px;
border-color: #B0B0B0;
border: solid 0.5px;
padding: 3px 12px 3px 12px;
height: 32px;
text-decoration: none;
}


#tutorial p {
margin: auto;
width: 80%;
background-color: red;
margin-top: 10vh;
}

span:focus {
outline:0;
}

img{
max-width: 90%;
max-height: 88vh;
margin: auto;
}

#wrapper{
display: flex;
flex-direction: column;
align-content: space-around;
height: 100vh;
width: 100%;
}

/*span{
padding: 20px;
display: flex;
justify-content: space-between;
}*/

#defaultCanvas0{
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
box-shadow: 0px 1px 80px grey;
}   

.buttonTerug {
width: 100px;
position: absolute;
top: 20px;
left: 20px;
}

.buttonKlaar{
width: 120px;
position: absolute;
bottom: 20px;
right: 20px;
}

.buttonOpnieuw{
width: 135px;
position: absolute;
bottom: 20px;
left: 20px;
}

#uitleg{
position: fixed;
width: 100%;
height: 100vh;
z-index: 4;
margin: 0;
transition: all ease 0.5s;
background: rgba(0,0,0,0.5);
}

#uitlegtekst{
margin-top: 58px;
padding: 109px;
line-height: 38px;
color: #B0B0B0;
font-size: 24px;
}

#overlay_uitleg{
position: fixed;
width: 100%!important;
height: 100vh!important;
max-width: 100%;
max-height: 100vh;
}
