@font-face { 
          font-family: 'Arimo';
          src: url('Arimo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */   
          font-style:   normal;
          font-weight:  400;
        }

@font-face { 
          font-family: 'Arimo Bold';
          src: url('Arimo-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */   
          font-style:   normal;
          font-weight:  400;
        }


body{
    background-color: black;
    padding: 0;
    margin: 0;
    color: #B0B0B0;
    font-size: 24px;
    font-family: "Arimo", sans-serif;
}

.photo{
    height: 220px;
    width: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    margin: 15px;

}

#wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 16vh;
    width: 95%;
    margin: auto;
    border-width: 0 0 1px 0;
    border-color: #B0B0B0;
    z-index: 3;
}

a.optionButton{
    font-size: 24px;
    color: #B0B0B0;
    background-color: #1A1A1A;
    border-radius: 24px;
    border-color: #B0B0B0;
    border: solid 1px;
    padding: 4px 12px 3px 12px;
    height: 32px;
    text-decoration: none;
    margin-left: 8px;
}

button{
    font-size: 24px;
    color: #B0B0B0;
    background-color: #1A1A1A;
    border-radius: 24px;
    border-color: #B0B0B0;
    border-width: 1px;
    padding: 0px 12px 3px 12px;
    height: 38px;}

div{
    margin-top: 5px;
}

input{
    width: 92%;
    font-size: 24px;
    height: 32px;
    color: #B0B0B0;
    background-color: #1A1A1A;
    border-radius: 24px;
    border-color: #B0B0B0;
    border-width: 1px;
    padding: 3px 12px 3px 12px;
    box-shadow: inset 0px 0px 0px 0px red;
    /*-webkit-appearance: none;*/
    background-repeat: no-repeat;
    background-image: url(icons/search.png);
    background-position-x: 5px;
    background-position-y: center;
    background-size: contain;
    padding-left: 45px;
}

input:focus{
    outline: 0;
}

#wrapper div{
    /*background-color: blue;*/
    margin-top: 20px;
    margin-bottom: 10px;
}

#jaren{
    visibility: visible;
        overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
}


#ruimtes{
    /* visibility: hidden; */
}

.buttonMenu{
    visibility: visible;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    width: 105%;
    margin-left: -19px;
}

.optionButton:nth-child(2){
    margin-left: 19px;
}


button:focus {
    outline:0;
}

.selectedYear{
    font-size: 24px;
    color: #B0B0B0;
    background-color: rgb(91, 88, 88);
    border-radius: 24px;
    border-color: #B0B0B0;
    border: solid 1px;
    padding: 4px 12px 3px 12px;
    height: 32px;
    text-decoration: none;
    margin-left: 8px;
}

#backtotop{
    position: fixed;
    font-size: 24px;
    color: #B0B0B0;
    border-radius: 24px;
    border: #B0B0B0 1px solid;
    padding: 0px 12px 3px 12px;
    height: 38px;
    z-index: 2;
    top: 120px;
    background: black;
    width: 55px;
    left: -25px;
    background-repeat: no-repeat;
    background-image: url(icons/top.png);
    background-position-x: 34px;
    background-position-y: -1px;
    background-size: contain;
}

#backgroundwrapper{
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: black;
}

#uitleg{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 4;
    margin: 0;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(0,0,0,0.4);
}

#uitlegtekst{
    margin-top: 58px;
    padding: 109px;
    line-height: 38px;
}

#overlay_uitleg{
    position: fixed;
    width: 100%;
}

p{
    line-height: 38px;
    padding: 60px;
}